// Event package statuses
.event-package {
  @apply text-tiny ml-1 inline-block self-baseline rounded-full px-1.5 py-1 font-semibold uppercase leading-none;

  &.starter {
    @apply bg-gradient-to-r from-green-500 via-green-400/80 to-green-500 text-green-50 dark:from-green-600 dark:via-green-400 dark:to-green-600;
  }

  &.smart {
    @apply bg-gradient-to-tr from-blue-500 to-blue-500 text-blue-50 dark:from-blue-600 dark:to-blue-600;
  }

  &.optima {
    @apply bg-gradient-to-r from-sky-500 via-sky-400 to-sky-500 text-sky-50 dark:from-sky-600 dark:via-sky-400 dark:to-sky-600;
  }
}

// Badges based on status map
.badge {
  @apply inline-flex rounded-full px-2.5 py-1 text-center text-xs font-medium;

  &.green {
    @apply bg-green-100 text-green-600 dark:bg-green-500/20 dark:text-green-400;
  }

  &.emerald {
    @apply bg-emerald-100 text-emerald-600 dark:bg-emerald-500/20 dark:text-emerald-400;
  }

  &.blue {
    @apply bg-blue-100 text-blue-600 dark:bg-blue-500/20 dark:text-blue-400;
  }

  &.sky {
    @apply bg-sky-100 text-sky-600 dark:bg-sky-500/20 dark:text-sky-400;
  }

  &.yellow {
    @apply bg-yellow-100 text-yellow-600 dark:bg-yellow-500/20 dark:text-yellow-400;
  }

  &.red {
    @apply bg-red-100 text-red-600 dark:bg-red-500/20 dark:text-red-400;
  }

  &.gray {
    @apply bg-gray-100 text-gray-600 dark:bg-gray-500/20 dark:text-gray-400;
  }

  &.slate {
    @apply bg-slate-100 text-slate-600 dark:bg-slate-500/20 dark:text-slate-400;
  }

  &.purple {
    @apply bg-purple-100 text-purple-600 dark:bg-purple-500/20 dark:text-purple-400;
  }
}

.text-status {
  &.green {
    @apply text-green-600 dark:text-green-400;
  }

  &.emerald {
    @apply text-emerald-600 dark:text-emerald-400;
  }

  &.blue {
    @apply text-blue-600 dark:text-blue-400;
  }

  &.sky {
    @apply text-sky-600 dark:text-sky-400;
  }

  &.yellow {
    @apply text-yellow-600 dark:text-yellow-400;
  }

  &.red {
    @apply text-red-600 dark:text-red-400;
  }

  &.gray {
    @apply text-gray-600 dark:text-gray-400;
  }

  &.slate {
    @apply text-slate-600 dark:text-slate-400;
  }

  &.purple {
    @apply text-purple-600 dark:text-purple-400;
  }
}

.dot {
  @apply rounded-full;

  &.green {
    @apply bg-green-500;
  }

  &.emerald {
    @apply bg-emerald-500;
  }

  &.blue {
    @apply bg-blue-500;
  }

  &.sky {
    @apply bg-sky-500;
  }

  &.yellow {
    @apply bg-yellow-500;
  }

  &.red {
    @apply bg-red-500;
  }

  &.gray {
    @apply bg-gray-500;
  }

  &.slate {
    @apply bg-slate-500;
  }

  &.purple {
    @apply bg-purple-500;
  }
}
