/* Typography */
.h1 {
    @apply text-2xl font-bold tracking-tight md:text-3xl;
}

.h2 {
    @apply text-2xl font-bold tracking-tight;
}

.h3 {
    @apply text-xl font-bold;
}

.h4 {
    @apply text-lg font-bold tracking-tight;
}

.h1,
.h2,
.h3,
.h4 {
    @apply text-slate-900 dark:text-slate-100;
}

/* Chrome, Safari and Opera */
.no-scrollbar::-webkit-scrollbar {
    display: none;
}

.no-scrollbar {
    -ms-overflow-style: none;
    /* IE and Edge */
    scrollbar-width: none;
    /* Firefox */
}