@use 'additional-styles/forms.scss';
@use 'additional-styles/vue-datepicker.scss';
@use 'additional-styles/toast.scss';
@use 'additional-styles/utility-patterns.scss';
@use 'additional-styles/statuses.scss';
@use 'additional-styles/filepond.scss';

html {
  color-scheme: light dark;
}

html.dark {
  color-scheme: dark;
}

html.light {
  color-scheme: light;
}

::-webkit-scrollbar {
  width: 0.5rem;
  height: 0.5rem;
}

::-webkit-scrollbar-track {
  background-color: hsl(var(--muted)) !important;
}

::-webkit-scrollbar-thumb {
  border-radius: calc(var(--radius) - 4px);
  background-color: hsl(var(--muted-foreground) / 0.3) !important;
}

html {
  scrollbar-color: hsl(215.4 16.3% 46.9% / 0.3);

  scrollbar-color: hsl(var(--muted-foreground) / 0.3) hsl(var(--muted));
  scrollbar-width: thin;
}

html.dark {
  &::-webkit-scrollbar-track {
    background-color: hsl(var(--muted) / 0.3) !important;
  }

  &::-webkit-scrollbar-thumb {
    background-color: hsl(var(--muted-foreground) / 0.2) !important;
  }

  // scrollbar-color: hsl(var(--muted-foreground) / 0.2) hsl(var(--muted) / 0.3);
}

/* Custom styles */
.dropdown-item {
  @apply text-sm flex items-center space-x-1 px-3 py-1.5 m-1 rounded dark:text-slate-200 hover:bg-slate-100 dark:hover:bg-slate-800 transition-colors cursor-default select-none relative;

  >a {
    @apply flex items-center space-x-1 cursor-default;
  }

  &.selected {
    @apply bg-slate-100 hover:bg-slate-100 dark:bg-slate-800;
  }

  >.check {
    @apply w-4 h-4;
  }
}

#new-event-form {
  textarea {
    field-sizing: content;
  }
}