@import 'additional-styles/forms.scss';
@import 'additional-styles/vue-datepicker.scss';
@import 'additional-styles/toast.scss';
@import 'additional-styles/utility-patterns.scss';
@import 'additional-styles/statuses.scss';

html {
    color-scheme: light dark;
}

html.dark {
    color-scheme: dark;
}

html.light {
    color-scheme: light;
}

::-webkit-scrollbar {
    width: .5rem;
    height: .5rem
}

::-webkit-scrollbar-track {
    background-color: hsl(var(--muted)) !important
}

::-webkit-scrollbar-thumb {
    border-radius: calc(var(--radius) - 4px);
    background-color: hsl(var(--muted-foreground) / .3) !important
}

html {
    scrollbar-color: hsl(215.4 16.3% 46.9% / .3)
}

html.dark {
    scrollbar-color: hsl(215.4 16.3% 56.9% / .3)
}

/* Custom styles */
.number {
    font-feature-settings: 'ss02', 'ss03', 'ss04';
}

.tabular {
    font-variant-numeric: 'tnum';
}

.scroll-area {
    scrollbar-width: thin;
}
