name: Deploy Gala EO to Server
on:
  push:
    branches:
      - main
jobs:
  deploy:
    runs-on: ubuntu-latest
    
    steps:
    - uses: actions/checkout@v4
    
    - name: Install SSH Key
      uses: shimataro/ssh-key-action@v2
      with:
        key: ${{ secrets.GALA_VPS_SSH_KEY }}
        known_hosts: ${{ secrets.KNOWN_HOSTS }}

    - name: Install Bun
      uses: oven-sh/setup-bun@v2
        
    - name: Install dependencies
      run: bun install
      
    - name: Build
      run: bun run build
      
    - name: Create ecosystem.config.cjs
      run: |
        cat << EOF > ecosystem.config.cjs
        module.exports = {
          apps: [
            {
              name: 'live.galanesia.com',
              exec_mode: 'cluster',
              instances: 'max',
              script: './.output/server/index.mjs',
              env: {
                GALA_OAUTH_CLIENT_SECRET: process.env.GALA_OAUTH_CLIENT_SECRET,
                NUXT_PUBLIC_GALA_API_URL: process.env.NUXT_PUBLIC_GALA_API_URL,
                NUXT_PUBLIC_GALA_OAUTH_URL: process.env.NUXT_PUBLIC_GALA_OAUTH_URL,
                NUXT_PUBLIC_GALA_OAUTH_CLIENT_ID: process.env.NUXT_PUBLIC_GALA_OAUTH_CLIENT_ID,
                NUXT_PUBLIC_GALA_OAUTH_REDIRECT_URI: process.env.NUXT_PUBLIC_GALA_OAUTH_REDIRECT_URI
              }
            }
          ]
        }
        EOF
      
    - name: Deploy to server
      env:
        SERVER_IP: ${{ secrets.SERVER_IP }}
        SERVER_PORT: ${{ secrets.SERVER_PORT }}
        SERVER_USER: ${{ secrets.SERVER_USER }}
        SERVER_PATH: ${{ secrets.SERVER_PATH }}
        GALA_OAUTH_CLIENT_SECRET: ${{ secrets.GALA_OAUTH_CLIENT_SECRET }}
        NUXT_PUBLIC_GALA_API_URL: ${{ secrets.NUXT_PUBLIC_GALA_API_URL }}
        NUXT_PUBLIC_GALA_OAUTH_URL: ${{ secrets.NUXT_PUBLIC_GALA_OAUTH_URL }}
        NUXT_PUBLIC_GALA_OAUTH_CLIENT_ID: ${{ secrets.NUXT_PUBLIC_GALA_OAUTH_CLIENT_ID }}
        NUXT_PUBLIC_GALA_OAUTH_REDIRECT_URI: ${{ secrets.NUXT_PUBLIC_GALA_OAUTH_REDIRECT_URI }}
      run: |
        rsync -avz -e "ssh -p $SERVER_PORT" --delete .nuxt/ package.json bun.lockb ecosystem.config.cjs $SERVER_USER@$SERVER_IP:$SERVER_PATH
        
        ssh -p $SERVER_PORT $SERVER_USER@$SERVER_IP '
          cd $SERVER_PATH
          bun install --production
          pm2 stop live.galanesia.com || true
          pm2 start ecosystem.config.cjs
        '