name: Deploy Gala EO to Server
on:
  push:
    branches:
      - main
jobs:
  deploy:
    runs-on: ubuntu-latest

    steps:
      - uses: actions/checkout@v4

      - name: Install SSH Key
        uses: shimataro/ssh-key-action@v2
        with:
          key: ${{ secrets.GALA_VPS_SSH_KEY }}
          known_hosts: ${{ secrets.KNOWN_HOSTS }}

      - name: Install Bun
        uses: oven-sh/setup-bun@v2

      - name: Install dependencies
        run: bun install

      - name: Build
        run: bun run build

      - name: Deploy to server
        env:
          SERVER_IP: ${{ secrets.SERVER_IP }}
          SERVER_PORT: ${{ secrets.SERVER_PORT }}
          SERVER_USER: ${{ secrets.SERVER_USER }}
          SERVER_PATH: ${{ secrets.SERVER_PATH }}
        run: |
          rsync -avz -e "ssh -p $SERVER_PORT" --delete .output/ package.json bun.lockb ecosystem.config.cjs $SERVER_USER@$SERVER_IP:$SERVER_PATH

          ssh -p $SERVER_PORT $SERVER_USER@$SERVER_IP "
            cd $SERVER_PATH
            bun install --production
            pm2 stop live.galanesia.com || true
            pm2 start ecosystem.config.cjs
          "
